*{
    padding: 0;
    margin: 0;  
}

.first {
    display: inline-block;
    width: 80px;
    height: 70px;
    background-color: rgb(154, 226, 226);
     margin: 0px;
     padding: 0;
}

.second{
    display: inline-block;
    width: 80px;
    height: 70px;
    background-color: rgb(224, 176, 224);
    margin: 0px;
    padding: 0;
}

main{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    box-shadow: 8px 8px 10px rgb(80, 77, 77);
    padding: 0;
    margin: 0;
    width: 660px;
    height: 630px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


.piece-1{
    font-size: 55px;
    padding: 0;
    margin: 0;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    text-align: center;
}

.piece-2{
    font-size: 55px;
    padding: 0;
    margin: 0;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    text-align: center;
}

div div div:hover{
    box-shadow: 0 0 10px rgb(112, 112, 112);
    border-radius: 9px;
}